<component name="ArtifactManager">
  <artifact build-on-make="true" name="WEB">
    <output-path>$PROJECT_DIR$/WEB-INF</output-path>
    <root id="root">
      <element id="directory" name="views">
        <element id="dir-copy" path="$PROJECT_DIR$/src/main/webapp/WEB-INF/views" />
      </element>
      <element id="module-source" name="personalportfolio" />
      <element id="dir-copy" path="$PROJECT_DIR$/target" />
      <element id="module-output" name="personalportfolio" />
      <element id="file-copy" path="$PROJECT_DIR$/index.jsp" />
    </root>
  </artifact>
</component>